<!doctype html>
<html lang="en-US">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>FRS - Helps to detect emotion!</title>

		
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
        
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'> <!-- Body font -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'> <!-- Navbar font -->

		
		<link rel="stylesheet" href="../static/inc/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/inc/animations/css/animate.min.css">
		<link rel="stylesheet" href="../static/inc/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
		<link rel="stylesheet" href="../static/inc/owl-carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/inc/owl-carousel/css/owl.theme.css">
        <!-- {{ url_for('static', filename='index.js') }} -->
		
        <link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/mobile.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="../static/css/skin/cool-gray.css">
        <!-- <link rel="stylesheet" href="../static/css/skin/ice-blue.css"> -->
        <!-- <link rel="stylesheet" href="../static/css/skin/summer-orange.css"> -->
        <!-- <link rel="stylesheet" href="../static/css/skin/fresh-lime.css"> -->
        <!-- <link rel="stylesheet" href="../static/css/skin/night-purple.css"> -->

		

	</head>

    <body data-spy="scroll" data-target="#main-navbar">
        <div class="page-loader"></div>  <!-- Display loading image while page loads -->
    	<div class="body">
        
            <!--========== BEGIN HEADER ==========-->
            <header id="header" class="header-main">

                <!-- Begin Navbar -->
                <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> 

                  <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand page-scroll" href="/base">EDS</a>
                    </div>

                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="body">Home</a></li>
                            <li><a class="page-scroll" href="#about-section">About</a></li>
                            <li><a class="page-scroll" href="/home">Detect Now!</a></li>
                            <li><a class="page-scroll" href="#team-section">Team</a></li>                            
                            <li><a class="page-scroll" href="#contact-section">Contact</a></li>
                        </ul>
                    </div>
                  </div>
                </nav>
 
            </header>
            
            
            
            
            
        	
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(../static/img/slider1.jpg);">
				
				<div class="container">
					<div class="caption text-center text-white shadow-lg rounded" data-stellar-ratio="0.7" >

						<div id="owl-intro-text" class="owl-carousel">
							<div class="item">
								<h1>Welcome to our Face recognision System!</h1>
								<p>Let's make the make the world more advance!</p>
                                <div class="extra-space-l"></div>
								<a class="btn btn-blank" href="https://docs.google.com/presentation/d/1FWx6VfY99BjgwwViJJgeWZPgcK9u8Sz67aTdzKttGSs/edit?usp=sharing" target="_blank" role="button">Read More!</a>
							</div>
							<div class="item">
								<h1>This system will make you feel amazed</h1>
								<p>Helps us to know you better!</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank" href="https://docs.google.com/presentation/d/1FWx6VfY99BjgwwViJJgeWZPgcK9u8Sz67aTdzKttGSs/edit?usp=sharing" target="_blank" role="button">Know More!</a>
							</div>
							<div class="item">
								<h1>Share you ideas</h1>
								<p>Its our duty to make it into reality!!</p>
								<div class="extra-space-l"></div>
								<a class="btn btn-blank" href="/home" target="" role="button">Check Now!</a>
							</div>
						</div>

					</div> 
				</div> 

			</section>
			
                
                
                
                
           
			<section id="about-section" class="page bg-style1">
                
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About</h2>
                            <div class="devider"></div>
                            <p class="subtitle">It's Project Info</p>
                        </div>
                    </div>
                </div>
                
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <span class="rotate-box-icon"><i class="fa fa-bar-chart"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>What?</h4>
                                        <p>The main objective of this project is to develop a system that takes input video feed from any camera source and recognize human expression and classify them in real-time.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                    <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Why?</h4>
                                        <p>Humans are definitely highly capable when it comes to emotion recognition but can computers or any algorithm recognize the same ? That is what we have approached in our study.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                    <span class="rotate-box-icon"><i class="fa fa-info"></i></span>
                                    <div class="rotate-box-info">
                                        <h4>Which?</h4>
                                        <p>The dataset we have used for this project is a image-pixel valued dataset which is mainly a csv dataset with the 7 different emotion labels and pixel values of all corresponding images. The dataset is divided into training and validation data in the ratio 80:20 respectively.</p>
                                    </div>
                                </a>
                            </div>
                            
                            
                        </div> 
                    </div> 
                </div>
                
                
                <div class="extra-space-l"></div>
                
                
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h4>&lt; techs Used /&gt;</h4>
                        </div>
                    </div>
                </div>
                
                <div class="our-skills">
                	<div class="container">
                    	<div class="row">
                        
                        	<div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>Flask</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
                                    <div class="progress-lebel">
                                        <h6>...</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Html & Css</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                    <div class="progress-lebel">
                                        <h6>Javascript</h6>
                                    </div>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                      </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div> 
                    </div> 
                </div>
                
          </section>
              
          <section id="cta-section">
          	<div class="cta">
            	<div class="container">
                	<div class="row">
                    
                    	<div class="col-md-9">
                        	<h1>Download Our Presentation</h1>
                            <p>With the rapid growth of AI, it has become a necessity to understand human emotions with the help of computational power. Though subtle at times, an expression has a lot to say about a person’s state of mind.<br><br>Let’s dive into this presentation to reveal what high computational power and algorithmic thinking can achieve.
                            </p>
                        </div>
                        
                        <div class="col-md-3">
                        	<div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">
                        <a class="btn btn-default btn-lg" href="../static/face emotion recognition.pdf" download target="_blank" role="button">Download</a>
                        	</div>
                        </div>
                        
                    </div> 
                </div> 
            </div>
          </section>
              
                
            <section id="portfolio-section" class="page bg-style1">
            	<div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio">
                                <div class="page-header-wrapper">
                                    <div class="container">
                                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                            <h2>Our Team!</h2>
                                            <div class="devider"></div>
                                            <p class="subtitle">Masterminds of this entire thing!!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfoloi_content_area" >
                                    <div class="portfolio_menu" id="filters">
                                        <ul>

                                    </div>
                                    <div class="portfolio_content">
                                        <div class="row"  id="portfolio">
                                            <div class="col-xs-12 col-sm-3 appsDevelopment">
                                                <div class="portfolio_single_content">
                                                    <img src="../static/img/portfolio/prerana.png" alt="title"/>
                                                    <div>
                                                        <a href="#">Prerana Mahata</a>
                                                        <span><i class="fa fa-instagram fa-3x"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 GraphicDesign">
                                                <div class="portfolio_single_content">
                                                    <img src="/img/portfolio/p2.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Photo Frame</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 responsive">
                                                <div class="portfolio_single_content">
                                                    <img src="/img/portfolio/p3.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Hand Shots</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3 webDesign websites">
                                                <div class="portfolio_single_content">
                                                    <img src="/img/portfolio/p4.jpg" alt="title"/>
                                                    <div>
                                                        <a href="#">Night Abstract</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            
            <!-- <section id="counter-section">                					
				<div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/counter-bg.jpg);">
					<div class="cover"></div>
                    
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Some Fun Facts</h2>
                                <div class="devider"></div>
                                <p class="subtitle">Before anyone is not told</p>
                            </div>
                        </div>
                    </div>
                    
					<div class="container">

						<div class="row">

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-users fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">6666</span>
									<p class="lead">Clients Worked With</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-leaf fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">800</span>
									<p class="lead">Completed Projects</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-trophy fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">55</span>
									<p class="lead">Winning Awards</p>
								</div>
							</div>

							<div class="fact last text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-coffee fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">1100</span>
									<p class="lead">Cups of coffee drinking</p>
								</div>
							</div>

						</div> 
					</div> 
				</div>
            </section> -->
       
            <!-- <section id="team-section" class="page">
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Team</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Meat our experts</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="team-items">
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.2s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="../static/img/portfolio/prerana.png" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>Prerana Mahata</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.3s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.4s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.5s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.6s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.7s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-male"></i>
                                                    <p>John Doe</p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="team-container wow bounceIn" data-wow-delay="0.8s">
                                    <div class="team-item">
                                        <div class="team-triangle">
                                            <div class="content">
                                                <img src="img/team/1.jpg" alt="title"/>
                                                <div class="team-hover text-center">
                                                    <i class="fa fa-female"></i>
                                                    <p>Jane Doe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>  
                    </div>
                </div>

            </section> -->
            

			<section id="social-section">
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Project</h2>
                            <div class="devider"></div>
                            <p class="subtitle">Go in links!</p>
                        </div>
                    </div>
                </div>
                
                
                <div class="container">
                	<ul class="social-list">
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-github"></i></span></a></li>
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-slideshare"></i></span></a></li>
                		<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>                      
                    </ul>
                </div>
                
            </section>
                

                
                <div class="footer">
                    <div class="container text-center text-white" data-wow-delay="0.4s">
                        <p class="copyright">Designed and Developed <br>with 💖 by <br><a href="#" class="theme-author glow">SOUMYA</a> | <a href="#" class="theme-author glow">PRERANA</a> | <a href="#" class="theme-author glow">ANANDAMAYEE</a> | <a href="#" class="theme-author glow">ANIK</a></p>
                    </div>
                </div>

            </footer>
            

            <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Its Scroll button mannn -->
                                              
        </div>
        
        
        
        
        <!-- Plugins JS Bruuhhhh!!-->
		<script src="../static/inc/jquery/jquery-1.11.1.min.js"></script>
		<script src="../static/inc/bootstrap/js/bootstrap.min.js"></script>
		<script src="../static/inc/owl-carousel/js/owl.carousel.min.js"></script>
		<script src="../static/inc/stellar/js/jquery.stellar.min.js"></script>
		<script src="../static/inc/animations/js/wow.min.js"></script>
        <script src="../static/inc/waypoints.min.js"></script>
		<script src="../static/inc/isotope.pkgd.min.js"></script>
		<script src="../static/inc/classie.js"></script>
		<script src="../static/inc/jquery.easing.min.js"></script>
		<script src="../static/inc/jquery.counterup.min.js"></script>
		<script src="../static/inc/smoothscroll.js"></script>

		<!-- Js ka preloaded theme -->
		<script src="../static/js/theme.js"></script>

    </body> 
        
            
</html>
