<!doctype html>
<html lang="en-US">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FRS - Helps to detect emotion!</title>

    <link rel="shortcut icon" href="../static/img/icon/user.svg" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <!-- Navbar font -->


    <link rel="stylesheet" href="../static/inc/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/inc/animations/css/animate.min.css">
    <link rel="stylesheet" href="../static/inc/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
    <link rel="stylesheet" href="../static/inc/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="../static/inc/owl-carousel/css/owl.theme.css">
    <!-- {{ url_for('static', filename='index.js') }} -->

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/mobile.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="../static/css/skin/cool-gray.css">
    <!-- <link rel="stylesheet" href="../static/css/skin/ice-blue.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/skin/summer-orange.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/skin/fresh-lime.css"> -->
    <!-- <link rel="stylesheet" href="../static/css/skin/night-purple.css"> -->

    <!-- New jQuery CDN Added -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap Icon CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>

<body data-spy="scroll" data-target="#main-navbar" id="wrap">
    <div class="page-loader"></div> <!-- Display loading image while page loads -->
    <div class="body">

        <!--========== BEGIN HEADER ==========-->
        <header id="header" class="header-main">

            <!-- Begin Navbar -->
            <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">

                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" style="position:absolute">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="#"}>EDS</a>
                    </div>


                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="page-scroll" href="body">Home</a></li>
                            <li><a class="page-scroll" href="#about-section">About</a></li>
                            <!-- <li><a class="page-scroll" href="/home">Detect Now!</a></li> -->
                            <li><a class="page-scroll"  data-toggle="modal"
                                    data-target="#myModal" onclick="play('../static/img/sound/noti.mp3')">Terminal</a></li>
                            <!-- onclick="openWindow()" -->
                            <li><a class="page-scroll" href="#portfolio-section">Who are we?</a></li>
                            <li><a class="page-scroll" href="#social-section">Links</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="position:absolute;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title total" id="myModalLabel"><img src="../static/img/Animation.gif" class="alert-gif">Alert!</h2>
                    </div>
                    <div class="modal-body">
                        We strongly advise you to utilise a desktop or laptop computer for the finest viewing experience and to get the most out of it.
                        <br><br>
                        This web app is currently in testing, so please excuse any issues. Send us an email or create a issue in github if you need a bug patch or a feature update.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stay</button>
                        <button type="button" class="btn btn-warning" onclick="openWindow()">Proceed!</button>
                    </div>
                </div>
            </div>
        </div>






        <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5"
            style="background-image: url(../static/img/slider1.jpg);">

            <div class="container">
                <div class="caption text-center text-white shadow-lg rounded" data-stellar-ratio="0.7">

                    <div id="owl-intro-text" class="owl-carousel">
                        <div class="item">
                            <h1>Welcome to our Face recognition System!</h1>
                            <p>Let's make the make the world more advance!</p>
                            <div class="extra-space-l"></div>
                            <a class="btn btn-blank"
                                href="https://docs.google.com/presentation/d/1FWx6VfY99BjgwwViJJgeWZPgcK9u8Sz67aTdzKttGSs/edit?usp=sharing"
                                target="_blank" role="button">Read More!</a>
                        </div>
                        <div class="item">
                            <h1>This system will make you feel amazed</h1>
                            <p>Helps us to know you better!</p>
                            <div class="extra-space-l"></div>
                            <a class="btn btn-blank"
                                href="https://docs.google.com/presentation/d/1FWx6VfY99BjgwwViJJgeWZPgcK9u8Sz67aTdzKttGSs/edit?usp=sharing"
                                target="_blank" role="button">Know More!</a>
                        </div>
                        <div class="item">
                            <h1>Share you ideas</h1>
                            <p>Its our duty to make it into reality!!</p>
                            <div class="extra-space-l"></div>
                            <a class="btn btn-blank" href="/home" target="" role="button">Check Now!</a>
                        </div>
                    </div>

                </div>
            </div>

        </section>






        <section id="about-section" class="page bg-style1">

            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                        <h2>About</h2>
                        <div class="devider"></div>
                        <p class="subtitle">It's Project Info</p>
                    </div>
                </div>
            </div>

            <div class="rotate-box-1-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                <span class="rotate-box-icon"><i class="fa fa-bar-chart"></i></span>
                                <div class="rotate-box-info">
                                    <h4>What?</h4>
                                    <p>The primary goal of this project is to create a system that can receive input video feed from any camera source and detect and categorize human expressions in real-time.</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                                <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                                <div class="rotate-box-info">
                                    <h4>Why?</h4>
                                    <p>Humans are unquestionably superior when it comes to emotion perception, but can computers or any algorithm do the same? That is how we approached our research.</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                                <span class="rotate-box-icon"><i class="fa fa-info"></i></span>
                                <div class="rotate-box-info">
                                    <h4>Which?</h4>
                                    <p>We used an image-pixel valued dataset for this research, which is primarily a csv dataset including the 7 distinct emotion labels and pixel values of all matching photos. The dataset is split into training and validation data in the ratio of 80:20.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="extra-space-l"></div>

            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                        <h4>&lt; techs Used /&gt;</h4>
                    </div>
                </div>
            </div>

            <div class="our-skills">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                <div class="progress-lebel">
                                    <h6>Flask</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 45%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                                <div class="progress-lebel">
                                    <h6>Tensorflow</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 40%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                                <div class="progress-lebel">
                                    <h6>Html & CSS</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 95%;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                                <div class="progress-lebel">
                                    <h6>Javascript</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 70%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="cta-section">
            <div class="cta">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <h1>Download Our Presentation</h1>
                            <p>With the increasing advancement of AI, it has become necessary to use computer capacity to comprehend human emotions. Though subtle at times, an expression may reveal a lot about a person's mental condition.<br><br>Let's have a look at this presentation to see what great computing power and algorithmic thought can do.
                            </p>
                        </div>

                        <div class="col-md-3">
                            <div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">
                                <a class="btn btn-default btn-lg" href="http://docs.google.com/presentation/d/1Pc40xRFCJkJDI7Vw231mrTBCBJgI8pSgFXLZJtcYiH8/export/pdf" download
                                    target="_blank" role="button">Download</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <section id="portfolio-section" class="page bg-style1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portfolio">
                            <div class="page-header-wrapper">
                                <div class="container">
                                    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                        <h2>Our Team!</h2>
                                        <div class="devider"></div>
                                        <p class="subtitle">Masterminds of this entire thing!!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="portfoloi_content_area">
                                <div class="portfolio_menu" id="filters">
                                    <ul>

                                </div>
                                <div class="portfolio_content">
                                    <div class="row" id="portfolio">
                                        <div class="col-xs-12 col-sm-3 appsDevelopment">
                                            <div class="portfolio_single_content">
                                                <img src="../static/img/portfolio/s.png" alt="title" />
                                                <div>
                                                    <a href="#">SOUMYA DAS</a>
                                                    <span><i class="fa fa-github fa-3x"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 GraphicDesign">
                                            <div class="portfolio_single_content">
                                                <img src="../static/img/portfolio/a1.png" alt="title" />
                                                <div>
                                                    <a href="#">ANIK DAS</a>
                                                    <span><i class="fa fa-github fa-3x"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 responsive">
                                            <div class="portfolio_single_content">
                                                <img src="../static/img/portfolio/p.png" alt="title" />
                                                <div>
                                                    <a href="#">Prerna Mahata</a>
                                                    <span><i class="fa fa-github fa-3x"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 webDesign websites">
                                            <div class="portfolio_single_content">
                                                <img src="../static/img/portfolio/a2.png" alt="title" />
                                                <div>
                                                    <a href="#">Andamayee Ghosh</a>
                                                    <span><i class="fa fa-github fa-3x"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="social-section">
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                        <h2>Project</h2>
                        <div class="devider"></div>
                        <p class="subtitle">Go in links!</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <ul class="social-list">
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span
                                class="rotate-box-icon"><i class="fa fa-github"></i></span></a></li>
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span
                                class="rotate-box-icon"><i class="fa fa-slideshare"></i></span></a></li>
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span
                                class="rotate-box-icon"><i class="fa fa-dribbble"></i></span></a></li>
                </ul>
            </div>
        </section>

        <div class="footer">
            <div class="container text-center text-white" data-wow-delay="0.4s">
                <p class="copyright">Designed and Developed <br>with 💖 by <br><a href="#"
                        class="theme-author glow">SOUMYA</a> | <a href="#"
                        class="theme-author glow">ANIK</a></p>
            </div>
        </div>
        <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Its Scroll button mannn -->
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <!-- Plugins JS Bruuhhhh!!-->
    <script src="../static/inc/jquery/jquery-1.11.1.min.js"></script>
    <script src="../static/inc/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/inc/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="../static/inc/stellar/js/jquery.stellar.min.js"></script>
    <script src="../static/inc/animations/js/wow.min.js"></script>
    <script src="../static/inc/waypoints.min.js"></script>
    <script src="../static/inc/isotope.pkgd.min.js"></script>
    <script src="../static/inc/classie.js"></script>
    <script src="../static/inc/jquery.easing.min.js"></script>
    <script src="../static/inc/jquery.counterup.min.js"></script>
    <script src="../static/inc/smoothscroll.js"></script>
    <!-- Js ka preloaded theme -->
    <script src="../static/js/theme.js"></script>
</body>
</html>